@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #ccc;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  max-width: 150px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1d4ed8;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #1e48af;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.blur {
  position: absolute;
  box-shadow: 0 0 100px 50px #1d4ed8;
  z-index: -100;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #ccc;
}

header .content h4 {
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1rem;
  font-weight: 600;
}
header .content h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

header .content p {
  margin-bottom: 2rem;
  color: #ccc;
}

header .image {
  position: relative;
}

header .image img {
  max-width: 400x;
  margin: auto;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.portfolio {
  max-width: 1200px;
  margin: 2rem auto;
}

.portfolio .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.portfolio .header a {
  background-color: #ff0000;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border: none;
  border-radius: 10px;
}

.portfolio .header a i {
  font-size: 26px;
}

.portfolio .portfo-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.portfolio .portfo-items .item {
  width: 45%;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover {
  border-color: #5e3bee;
}

.portfolio .portfo-items .item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p {
  font-size: 13px;
  color: #000;
}

.portfolio .portfo-items .item .info a {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #5e3bee;
}

.portfolio .portfo-items .item .info a i {
  margin-left: 2px;
  font-size: 16px;
}

footer {
  background-color: #000;
  padding: 85px;
  display: flex;
  flex-direction: column;
}

footer .top,
footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .top .social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
}

footer a {
  color: #1d4ed8;
}

footer .separator {
  width: 100%;
  height: 1px;
  background-color: #282938;
  margin: 30px 0 20px;
}

footer .bottom p {
  font-size: 12px;
}

footer .bottom .links a {
  font-size: 12px;
  margin-left: 14px;
}

footer img {
  max-width: 150px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

footer li {
  list-style-type: none;
}

.form {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

.form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form .field-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.form .field-form:first-child {
  margin-top: 1rem;
}

input,
textarea {
  width: 100%;
  min-width: 450px;
  padding: 0.8rem 2rem;
  border: none;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #fff;
}

.form .field-form i {
  font-size: 1.5rem;
  color: #1d4ed8;
}

.form .textarea {
  display: flex;
  flex-direction: column;
}

.btn-s {
  padding: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 1000px) {
  nav {
    max-width: 980px;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    max-width: 980px;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio {
    max-width: 980px;
    margin: 2rem auto;
  }

  .portfolio .header {
    width: 100%;
    max-width: 980px;
    flex-direction: column;
  }

  .portfolio .header a {
    margin-top: 1rem;
  }

  .portfolio .portfo-items {
    flex-direction: column;
    max-width: 980px;
    padding: 1rem;
  }

  .portfolio .portfo-items .item {
    width: 100%;
  }

  footer .top,
  footer .bottom {
    flex-direction: column;
  }

  footer .top .social-links {
    margin: 2rem 0;
  }

  footer a {
    text-align: center;
  }
}
